.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.content .logo {
    margin-bottom: 27px;
}
.content .logo img {
    height: 60px;
}
.content .title {
    margin-bottom: 69px;
}
.content .title img {
    width: 245px;
    margin-bottom: 28px;
}
.content .title p {
    color: #ccc;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.content .app_img {
    margin-bottom: 68px;
}
.content .app_img img {
    width: 322px;
    height: 534px;
    vertical-align: middle;
}
.content .download input {
    width: 600px;
    height: 60px;
    background-color: #3a624c;
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px;
}

.content .download input:active {
    opacity: 0.9;
}