/* Add here all your css styles (customizations) */
/*声明 WebFont*/
/*@font-face {*/
/*font-family: 'PMingLiU-CN';*/
/*src: url('../plugins/sis-font/PMingLiU-CN/PMingLiU-CN.eot');*/
/*src: url('../plugins/sis-font/PMingLiU-CN/PMingLiU-CN.eot?#font-spider') format('embedded-opentype'),*/
/*url('../plugins/sis-font/PMingLiU-CN/PMingLiU-CN.woff') format('woff'),*/
/*url('../plugins/sis-font/PMingLiU-CN/PMingLiU-CN.ttf') format('truetype'),*/
/*url('../plugins/sis-font/PMingLiU-CN/PMingLiU-CN.svg') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*!*声明 WebFont*!*/
/*@font-face {*/
/*font-family: 'PMingLiU-TW';*/
/*src: url('../plugins/sis-font/PMingLiU-TW/PMingLiU-TW.eot');*/
/*src: url('../plugins/sis-font/PMingLiU-TW/PMingLiU-TW.eot?#font-spider') format('embedded-opentype'),*/
/*url('../plugins/sis-font/PMingLiU-TW/PMingLiU-TW.woff') format('woff'),*/
/*url('../plugins/sis-font/PMingLiU-TW/PMingLiU-TW.ttf') format('truetype'),*/
/*url('../plugins/sis-font/PMingLiU-TW/PMingLiU-TW.svg') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'DFPMingLight-B5';*/
/*src: url('../plugins/sis-font/DFPMingLight-B5/DFPMingLight-B5.eot');*/
/*src: url('../plugins/sis-font/DFPMingLight-B5/DFPMingLight-B5.eot?#font-spider') format('embedded-opentype'),*/
/*url('../plugins/sis-font/DFPMingLight-B5/DFPMingLight-B5.woff') format('woff'),*/
/*url('../plugins/sis-font/DFPMingLight-B5/DFPMingLight-B5.ttf') format('truetype'),*/
/*url('../plugins/sis-font/DFPMingLight-B5/DFPMingLight-B5.svg') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

/*使用选择器指定字体*/
body {
    font-family: "SimSun", "Open Sans", Arial, sans-serif;
}

@media (min-width: 992px) {
    a.about-link {
        width: 200px;
        height: 200px;
        display: inline-block;
        _float: left;
    }

    .culture-header .left .title {
        background: url("../img/sis/culture/culture_header_02.gif") no-repeat center;
        height: 96px;
    }

    .culture-header .left {
        padding-top: 16px;
        background: url("../img/sis/culture/dou.png") no-repeat 10px 0;

    }

    .md-margin-left-10 {
        margin-left: 10px;
    }

    .business-back .img {
        padding-left: 50px;
        margin-top: 50px;
        padding-bottom: 70px;
        background: url("../img/sis/business/business_02.png") no-repeat right bottom;
        border-bottom: 2px solid #c1791d;
    }

    .business-back .img .more {
        margin-right: 400px;
        text-align: right;
    }

    /*.business-back .title {*/
    /*margin-top: 20px;*/
    /*height: 71px;*/
    /*background: url("../img/sis/business/business_01.gif") no-repeat center;*/
    /*}*/
    .index-btn-item {
        width: 140px;
        margin: 0 15px;
    }
}

.about-br {
    display: none;
}

@media (max-width: 510px) {
    .about-br {
        display: block;
    }
}

@media (max-width: 992px) {
    a.about-link {
        width: 120px;
        height: 120px;
        display: inline-block;
        _float: left;
    }

    .culture-header .left .title {
        background: url("../img/sis/culture/culture_header_02.gif") no-repeat center;
        background-size: 100px 60px;
        height: 60px;
    }

    .culture-header .left {
        padding-top: 16px;
        background: url("../img/sis/culture/dou.png") no-repeat 10px 0;
        background-size: 50px 40px;
    }

    .business-back .img {
        margin-top: 20px;
        padding-bottom: 150px;
        background: url("../img/sis/business/business_03.gif") no-repeat right bottom;
        background-size: 1100px 144px;
    }

    /*.business-back .title {*/
    /*height: 50px;*/
    /*background: url("../img/sis/business/business_01.gif") no-repeat center;*/
    /*background-size: auto 50px;*/
    /*}*/
    .index-door .index-door-margin-1 {
        margin-top: 60px;
    }

    .index-door .index-door-margin-2 {
        margin-top: 30px;
    }
}

a.about1 {
    background: url("../img/sis/button/1a.png") center no-repeat;
    background-size: 100% auto;
}

a.about1:hover {
    background: url("../img/sis/button/1b.png") no-repeat center;
    background-size: 100% auto;
}

a.about2 {
    background: url("../img/sis/button/2a.png") no-repeat center;
    background-size: 100% auto;
}

a.about2:hover {
    background: url("../img/sis/button/2b.png") no-repeat center;
    background-size: 100% auto;
}

a.about3 {
    background: url("../img/sis/button/3a.png") no-repeat center;
    background-size: 100% auto;
}

a.about3:hover {
    background: url("../img/sis/button/3b.png") no-repeat center;
    background-size: 100% auto;
}

a.about4 {
    background: url("../img/sis/button/4a.png") no-repeat center;
    background-size: 100% auto;
}

a.about4:hover {
    background: url("../img/sis/button/4b.png") no-repeat center;
    background-size: 100% auto;
}

.culture-header {
    background: url("../img/sis/culture/culture_header_03.gif") repeat-x top;
}

.culture-bg-1 a {
    float: left;
    width: 50%;
    height: 247px;
}

.culture-bg-1 .bg1 {
    background: url("../img/sis/culture/culture_bg_1.jpg") no-repeat right;
}

.culture-bg-1 .bg1:hover {
    background-image: url("../img/sis/culture/culture_bg_1_hover.jpg");
}

.culture-bg-1 .bg2 {
    background: url("../img/sis/culture/culture_bg_2.jpg") no-repeat left;
}

.culture-bg-1 .bg2:hover {
    background-image: url("../img/sis/culture/culture_bg_2_hover.jpg");
}

@media (max-width: 442px) {
    .culture-bg-1 a {
        float: left;
        width: 100%;
        height: 221px;
    }

    .culture-bg-1 .bg1 {
        background: url("../img/sis/culture/culture_bg_3.jpg") no-repeat right;
    }

    .culture-bg-1 .bg1:hover {
        background-image: url("../img/sis/culture/culture_bg_3_hover.jpg");
    }

    .culture-bg-1 .bg2 {
        background: url("../img/sis/culture/culture_bg_4.jpg") no-repeat left;
    }

    .culture-bg-1 .bg2:hover {
        background-image: url("../img/sis/culture/culture_bg_4_hover.jpg");
    }
}

.culture-block {
    display: block;
}

.wx-img img {
    margin-right: 30px;
}

@media (max-width: 475px) {
    .wx-img img {
        margin-right: 25px;
        margin-bottom: 25px;
    }
}

.read-back {
    height: 500px;
    background: url("../img/sis/read/read_01.jpg") no-repeat left;
}

.business-back {
    background: #000;
    padding: 20px;
}

.business-back .img p {
    color: #fff;
    font-size: 14px;
}

.business-back .img .item-font {
    color: #db9433;
}

.business-back .img .more {
    margin-top: 20px;
    color: #db9433;
    font-size: 16px;

    display: block;
}

.about-font p {
    font-size: 14px;
}

@media (min-width: 768px) {

    .about-menu-li {
        color: #db9433;
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #b2b2b2;
        width: 210px;
    }

    .about-menu-li-first {
        border-top: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        padding-top: 10px;
    }

    a.menu-link {
        width: 210px;
        height: 95px;
        display: inline-block;
        _float: left;
    }

    /*a.menu-link .text {*/
    /*display: none;*/
    /*}*/
    a.menu-link-1 {
        background: url("../img/sis/menu/menu_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-1-1, a.menu-link-1:hover {
        background: url("../img/sis/menu/menu_01_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-2 {
        background: url("../img/sis/menu/menu_02.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-2-1, a.menu-link-2:hover {
        background: url("../img/sis/menu/menu_02_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-3 {
        background: url("../img/sis/menu/menu_03.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-3-1, a.menu-link-3:hover {
        background: url("../img/sis/menu/menu_03_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-4 {
        background: url("../img/sis/menu/menu_04.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-4-1, a.menu-link-4:hover {
        background: url("../img/sis/menu/menu_04_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-5 {
        background: url("../img/sis/menu/menu_05.gif") no-repeat left center;
        background-size: 95px auto;
    }

    a.menu-link-5-1, a.menu-link-5:hover {
        background: url("../img/sis/menu/menu_05_01.gif") no-repeat left center;
        background-size: 95px auto;
    }

}

.banner-about-1 {
    background: url("../img/sis/about/about-bg-1.jpg") no-repeat center;
    height: 300px;
}

.banner-about-2 {
    background: url("../img/sis/about/about-bg-2.jpg") no-repeat center;
    height: 300px;
}

.banner-about-3 {
    background: url("../img/sis/about/about-bg-3.jpg") no-repeat center;
    height: 300px;
}

.banner-about-4 {
    background: url("../img/sis/about/about-bg-4.jpg") no-repeat center;
    height: 300px;
}

.banner-about-5 {
    background: url("../img/sis/about/about-bg-5.jpg") no-repeat center;
    height: 300px;
}

@media (max-width: 768px) {
    .about-menu {
        min-height: 40px;
    }

    .about-menu li {
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    .about-menu-li a {
        padding-left: 0 !important;
        line-height: 120% !important;
    }

    a.menu-link-1-1, a.menu-link-2-1, a.menu-link-3-1, a.menu-link-4-1, a.menu-link-5-1, .about-menu-li a:hover {
        background-color: transparent !important;
        color: #72c02c !important;
    }

    .bread {
        padding-top: 20px;
    }

    .bread .breadcrumb {
        display: none;
    }

    .index-btn {
        display: -webkit-flex;
        display: flex;
        padding: 0;
        margin-top: 30px !important;
    }

    .index-btn-item {
        -webkit-flex: 1;
        flex: 1;
        margin: 0 1%;
    }

    .index-btn-4 {
        padding: 0 8%;
    }

    .index-door .index-door-margin-1 {
        margin-top: 30px;
    }
}

@media (max-width: 465px) {
    .about-menu {
        min-height: 55px;
    }

    .about-menu li {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        display: inline-block;
    }
}

.about-content {
    background-color: #f3efef;
    padding: 30px;
    /*margin: 30px;*/
    font-size: 18px;
    color: #5c5b5b;
    line-height: 40px;
}

.about-gap {
    max-width: 10px;
}

@media (max-width: 992px) {
    .about-gap {
        max-width: 62px;
    }

    .banner-about-1, .banner-about-2, .banner-about-3, .banner-about-4, .banner-about-5 {
        height: 200px;
    }

    .index-btn {
        margin-top: 30px;
    }

    .index-btn-item {
        width: 100px;
        margin: 0 1%;
    }

    .index-btn span {
        font-size: 16px;
    }

    .margin-top-md {
        margin-top: 40px;
    }
}

@media (max-width: 443px) {
    .about-content {
        font-size: 14px;
        line-height: 25px;
    }

    .about-bg div {
        height: 245px;
        margin-bottom: 20px;
    }

    .banner-about-1, .banner-about-2, .banner-about-3, .banner-about-4, .banner-about-5 {
        height: 150px;
    }
}

@media (min-width: 443px) {
    .about-bg div {
        height: 245px;
    }
}

.about-bg-1 {
    background: url("../img/sis/about/book-1.jpg") no-repeat center;
}

.about-bg-2 {
    background: url("../img/sis/about/book-2.jpg") no-repeat center;
}

.about-bg-3 {
    background: url("../img/sis/about/book-3.jpg") no-repeat center;
}

.about-bg-4 {
    background: url("../img/sis/about/coffee-1.jpg") no-repeat center;
}

.about-bg-5 {
    background: url("../img/sis/about/coffee-2.jpg") no-repeat center;
}

.about-bg-6 {
    background: url("../img/sis/about/coffee-3.jpg") no-repeat center;
}

.about-bg-7 {
    background: url("../img/sis/about/art-1.jpg") no-repeat center;
}

.about-bg-8 {
    background: url("../img/sis/about/art-2.jpg") no-repeat center;
}

.about-bg-9 {
    background: url("../img/sis/about/art-3.jpg") no-repeat center;
}

.about-bg-10 {
    background: url("../img/sis/about/72-1.jpg") no-repeat center;
}

.about-bg-11 {
    background: url("../img/sis/about/72-2.jpg") no-repeat center;
}

.about-bg-12 {
    background: url("../img/sis/about/72-3.jpg") no-repeat center;
}

.about-bg-13 {
    background: url("../img/sis/about/sis-1.jpg") no-repeat center;
}

.about-bg-14 {
    background: url("../img/sis/about/sis-2.jpg") no-repeat center;
}

.about-bg-15 {
    background: url("../img/sis/about/sis-3.jpg") no-repeat center;
}

.sidebar-nav-v1 > li.active,
.sidebar-nav-v1 > li.active:hover {
    background-color: #004f23;
}

.sidebar-nav-v1 small {
    color: #aaa;
    margin-left: 18px;
}

.collapse {
    display: block
}

@media (max-width: 443px) {
    .collapse {
        display: none
    }

    .media-report {
        display: none
    }
}

.shrink-logo {
    width: 120px;
    height: 50px;
}

.brand {
    float: left;
    padding-top: 5px;
}

.about-menu-li a {
    padding-left: 90px;
    line-height: 95px;
    font-size: 18px;
    color: #000;
}

a.menu-link-1-1, a.menu-link-2-1, a.menu-link-3-1, a.menu-link-4-1, a.menu-link-5-1, .about-menu-li a:hover {
    background-color: #004f23;
    color: #fff;
    text-decoration: none;
}

.ls-bottom-nav-wrapper {
    display: none;
}