<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        锤子大爷网吧营销大师
    </title>
    <meta name="keywords"
        content="网吧,软件,红包,锤子大爷,网咖,品牌,吃鸡,H1ZI,网吧活动,网吧营销,活动大师,营销软件,网吧管理,水吧台,英雄联盟活动,绝地大逃杀,租号,借号,领航,营销大师,熊猫管家,顺网,网维大师,易乐游,战吧,绿化大师,steam加速" />
    <meta name="description" content="罕默科技是一有以丰富网吧行业经营管理经验的团队为核心的互联网创业公司，公司主要产品“锤子大爷”是一款为网吧量身打造的集现场管理和游戏活动为一体的智能服务平台。“锤子大爷”率先在行业内提出全功能免费的概念，在提高网吧经营管理水平的同时为网吧开辟了新的利润增长点——支付全免费的功能。我们的专业就是通晓网吧经营的各环节、精准把握用户与产品的真实价值。公司下一步会在免费的基础上，进一步整合网吧行业支付、游戏推广、电竞、游戏开发等上下游资源。
    旗下产品“锤子大爷”从发布至今在全国建立了完善的渠道营销体系,市场安装量达到傲人的18.75%，注册会员超过3200万。行业中有广泛的人脉圈，国内深度合作的软件开发团队就有35个，合作领域更是不仅限于网吧行业。专业的服务能力以及优秀的服务意识，赢得了凤凰系统、百度、腾讯等合作伙伴的认可和业界的高度关注。
    而今发布的新版，功能实现模块化，让用户可以根据自己的需求随意安装和卸载；软件更加稳定，反应速度快，支付实现0手续费。我们一直站在用户的角度，努力打造一款不仅免费还能为用户省钱的软件。" />
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
</head>

<body>
    <div class="wl-header">
        <div class="wl-top">
            <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
            <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>

        </div>
    </div>
    <div class="wl-hcontent">
        <div class="wl-headinfo">
            <div class="wl-logo"></div>
            <ul class="wl-tul">
                <li><a href="index.html">首页</a></li>
                <li><a href="index.html#section2">产品介绍</a></li>
                <li><a href="help.html">帮助中心</a></li>
                <li class="wl-active"><a href="gywm.html">关于我们</a></li>

            </ul>
        </div>
    </div>
    <div class="about" style="padding-top:200px;">



        <p>
            　　锤子大爷是一款服务于网吧的智能营销管理软件。我们在坚持用户至上和不断满足用户体验的基础之上，于2015年推出该软件的1.0版本。在这几年的开发和推广过程中，汇聚了大量行业用户的智慧和公司开发团队的心血，实现了软件从能用到易用好用的迭代，软产品成为国内响当当的品牌产品。软件是基于网吧经营管理场景进行开发的，主要有一码支付、商品超市、商品进销存系统、游戏活动、点歌、点餐、呼叫、数据分析、会员管理等功能，各个功能既集成于智能管理平台，又相对独立。用户可以根据自己的管理需要进行选择性的安装和卸载，让软件实现轻量化运行。 
            <br />
            <br />
            　　软件多元化的功能从不同角度帮助网吧经营管理者解决在经营管理过程中遇到的实际问题。软件集成的聚合支付符合顾客支付习惯，减少收银人员找补零钱的工作量，提高收银效率；而顾客通过扫码支付，降低了支付痛感，有效提高网吧收入。PC端商品超市能让顾客在不用离开座位的情况下选购商品，精美的图片能引导顾客消费，提高消费欲望，增加网吧收入；方便工作人员精准配送，降低员工工作量。进销存系统方便对商品和物料进行精确管理，提高场所的管理水平，降低商品损耗率。多元化的游戏活动，能提高玩家参与游戏的积极性，增强与网吧之间的互动。点餐、点歌和呼叫等常用功能，方便顾客、服务于顾客，是顾客与网吧有效沟通的桥梁，让场所告别喧嚣环境，提高网吧逼格。网吧经营者关注官方微信，绑定网吧，便可实时掌握网吧的经营数据情况，让经营管理与经营方案有数支撑，有据可依，帮助经营者做到科学决策。会员实行注册制，平台会员全国唯一，方便网吧根据自身会员情况做好精准营销和网吧活动的精准推送，建立与会员的良好沟通机制，提升会员粘度，提高网吧上座率。软件围绕方便管理、提高网吧营收、增强顾客粘度进行深度开发，让网吧经营管理变得智能化。
            <br />
            <br />
            　　锤子大爷网吧管理平台以行业颠覆者角色出现，一经面世便受到行业极大关注，成为行业首款免费软件，但在发展过程中，免费软件的一些弊端逐步显现，为了给用户更好的用户体验，2018年5月，锤子大爷披荆斩棘，涅槃重生，回归用户视角，打造绿色无广告的VIP版本和良好体验的标准版本，成为真正站在用户角度思考的品牌软件。
        </p>

    </div>
    <div class="footer">

        <div class="fot_oDiv2">
            <div class="fot_content">
                <div class="fot_oD3">
                    <img class="" src="img/ewm.jpg" />
                    <span>微信公众号</span>
                </div>

                <div class="fot_oD2">
                    <div class="oD2_btm">
                        <p>地　　址：重庆市渝北区黄山大道中段49号重科智谷A座502</p>

                    </div>
                </div>
                <div class="fot_oD1">
                    <div class="oD1_top">
                        <i></i>
                        <p>周一至周五08：00—凌晨03:00</p>
                        <p>周末/节假日10:00-22:00</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="fot_oDiv1">
            <div class="fot_content">
                <p>Copyright © 2015-2016. 重庆通垒科技有限公司 版权所有 渝ICP备19009323号-1</p>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript" charset=utf-8"utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('.sidebar a').click(function () {
                $('.sidebar a').removeClass('active');
                $(this).addClass('active')
            })
        })
    </script>
</body>
<script src="./js/common.js"></script>
</html>