<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        西西弗书店
    </title>
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
</head>

<body>
    <div class="wl-header">
        <div class="wl-top">
            <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
            <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>

        </div>
    </div>
    <div class="wl-hcontent">
        <div class="wl-headinfo">
            <div class="wl-logo"></div>
            <ul class="wl-tul">
                <li><a href="index.html">首页</a></li>
                <li><a href="index.html#section2">产品介绍</a></li>
                <li class="wl-active"><a href="gywm.html">关于我们</a></li>

            </ul>
        </div>
    </div>
    <div class="about" style="padding-top:200px;">
        <p>
            西西弗，名称缘起于西西弗斯神话。西西弗斯从事的是连续的运动，没有目的，无所谓善恶成败，这个行动看上去仿佛是无效的，但它包含着让人畏惧的内容。无关力的大小，无论神罚与因果，我们选择了向上。取其坚忍不拔的含义，带点牺牲精神，我们希望可以成为图书行业或者文化行业的西西弗斯。
        </p>
        <p>
            西西弗书店是一家全国性主题体验连锁精致书店，长期以来，西西弗秉承“参与构成本地精神生活”的价值理念，以“引导推动大众精品阅读”的经营理念发展连锁书店。
        </p>
        <p>
            目前旗下有西西弗书店、矢量咖啡、不二生活文创、七十二阅听课儿童阅读体验空间、推石文化等子品牌。以25年对图书和阅读的专注研究，西西弗细分出标准线（黑标/绿标/红标）、主题线、定制线三大店型产品线，分别匹配不同城市商业体定位，为读者打造层次丰富的阅读体验；开创专业的图书产品线和大数据系统，让读者轻松的选到好书；搭建互动交流平台，与读者共享城市文化空间。
        </p>
        <p>公司总部位于重庆，截止2019年5月，西西弗在全国60多个城市拥有210多家实体连锁书店、210多家意式咖啡馆、超过400万活跃会员。</p>

    </div>
    <div class="footer">

        <div class="fot_oDiv2">
            <div class="fot_content">
                <div class="fot_oD3">
                    <img class="" src="img/ewm.jpg" />
                    <span>微信公众号</span>
                </div>

                <div class="fot_oD2">
                    <div class="oD2_btm">
                        <p>公司总部地址：重庆市渝中区瑞天路58号西西弗办公楼</p>

                    </div>
                </div>
                <div class="fot_oD1">
                    <div class="oD1_top">
                        <!-- <i></i> -->
                        <br>
                        <br>
                        <p>周一至周五08：00—凌晨03:00</p>
                        <p>周末/节假日10:00-22:00</p>
                    </div>
                    <div class="oD1_btm">

                    </div>
                </div>
            </div>
        </div>
        <div class="fot_oDiv1">
            <div class="fot_content">
                <p><a href="http://beian.miit.gov.cn/">渝ICP备17015694号-1</a></p>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript" charset=utf-8"utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('.sidebar a').click(function () {
                $('.sidebar a').removeClass('active');
                $(this).addClass('active')
            })
        })
    </script>
</body>
<script src="./js/common.js"></script>
</html>