<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        锤子大爷网吧营销大师
    </title>
    <meta name="keywords"
        content="网吧,软件,红包,锤子大爷,网咖,品牌,吃鸡,H1ZI,网吧活动,网吧营销,活动大师,营销软件,网吧管理,水吧台,英雄联盟活动,绝地大逃杀,租号,借号,领航,营销大师,熊猫管家,顺网,网维大师,易乐游,战吧,绿化大师,steam加速" />
    <meta name="description" content="罕默科技是一有以丰富网吧行业经营管理经验的团队为核心的互联网创业公司，公司主要产品“锤子大爷”是一款为网吧量身打造的集现场管理和游戏活动为一体的智能服务平台。“锤子大爷”率先在行业内提出全功能免费的概念，在提高网吧经营管理水平的同时为网吧开辟了新的利润增长点——支付全免费的功能。我们的专业就是通晓网吧经营的各环节、精准把握用户与产品的真实价值。公司下一步会在免费的基础上，进一步整合网吧行业支付、游戏推广、电竞、游戏开发等上下游资源。
    旗下产品“锤子大爷”从发布至今在全国建立了完善的渠道营销体系,市场安装量达到傲人的18.75%，注册会员超过3200万。行业中有广泛的人脉圈，国内深度合作的软件开发团队就有35个，合作领域更是不仅限于网吧行业。专业的服务能力以及优秀的服务意识，赢得了凤凰系统、百度、腾讯等合作伙伴的认可和业界的高度关注。
    而今发布的新版，功能实现模块化，让用户可以根据自己的需求随意安装和卸载；软件更加稳定，反应速度快，支付实现0手续费。我们一直站在用户的角度，努力打造一款不仅免费还能为用户省钱的软件。" />
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
</head>

<body>
    <div class="wl-header">
        <div class="wl-top">
            <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
            <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>

        </div>
    </div>
    <div class="wl-hcontent">
        <div class="wl-headinfo">
            <div class="wl-logo"></div>
            <ul class="wl-tul">
                <li><a href="index.html">首页</a></li>
                <li><a href="index.html#section2">产品介绍</a></li>
                <li class="wl-active"><a href="gywm.html">关于我们</a></li>

            </ul>
        </div>
    </div>
    <div class="about" style="padding-top:200px;">
        <p>
            西西弗，名称缘起于西西弗斯神话。西西弗斯从事的是连续的运动，没有目的，无所谓善恶成败，这个行动看上去仿佛是无效的，但它包含着让人畏惧的内容。无关力的大小，无论神罚与因果，我们选择了向上。取其坚忍不拔的含义，带点牺牲精神，我们希望可以成为图书行业或者文化行业的西西弗斯。
        </p>
        <p>
            西西弗书店是一家全国性主题体验连锁精致书店，长期以来，西西弗秉承“参与构成本地精神生活”的价值理念，以“引导推动大众精品阅读”的经营理念发展连锁书店。
        </p>
        <p>
            目前旗下有西西弗书店、矢量咖啡、不二生活文创、七十二阅听课儿童阅读体验空间、推石文化等子品牌。以25年对图书和阅读的专注研究，西西弗细分出标准线（黑标/绿标/红标）、主题线、定制线三大店型产品线，分别匹配不同城市商业体定位，为读者打造层次丰富的阅读体验；开创专业的图书产品线和大数据系统，让读者轻松的选到好书；搭建互动交流平台，与读者共享城市文化空间。
        </p>
        <p>公司总部位于重庆，截止2019年5月，西西弗在全国60多个城市拥有210多家实体连锁书店、210多家意式咖啡馆、超过400万活跃会员。</p>

    </div>
    <div class="footer">

        <div class="fot_oDiv2">
            <div class="fot_content">
                <div class="fot_oD3">
                    <img class="" src="img/ewm.jpg" />
                    <span>微信公众号</span>
                </div>

                <div class="fot_oD2">
                    <div class="oD2_btm">
                        <p>地　　址：重庆市渝北区黄山大道中段49号重科智谷A座502</p>

                    </div>
                </div>
                <div class="fot_oD1">
                    <div class="oD1_top">
                        <i></i>
                        <p>周一至周五08：00—凌晨03:00</p>
                        <p>周末/节假日10:00-22:00</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="fot_oDiv1">
            <div class="fot_content">
                <p>Copyright © 2015-2016. 重庆通垒科技有限公司 版权所有 渝ICP备19009323号-1</p>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript" charset=utf-8"utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $('.sidebar a').click(function () {
                $('.sidebar a').removeClass('active');
                $(this).addClass('active')
            })
        })
    </script>
</body>
<script src="./js/common.js"></script>
</html>