<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            锤子大爷网吧营销大师-帮助中心
        </title>
        <meta name="keywords" content="网吧,软件,红包,锤子大爷,网乐,网咖,品牌,吃鸡,H1ZI,网吧活动,网吧营销,活动大师,营销软件,网吧管理,水吧台,英雄联盟活动,绝地大逃杀,租号,借号,领航,营销大师,熊猫管家,顺网,网维大师,易乐游,战吧,绿化大师,steam加速" />
        <meta
            name="description"
            content="网乐活动大师极致版是重庆罕默科技历时半年时间打磨，以打造网咖行业生态圈为目标，从不同维度理解行业需求，深入研究用户习惯，不断提升用户体验研发的新版本，软件将从服务、营销、管理三个角度为网吧提供服务。网乐极致版是拥有最佳用户口碑，最贴近用户，最受欢迎的网吧营销软件。"
        />
        <link rel="stylesheet" href="css/core.css" type="text/css" />
        <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/layer/layer.js"></script>
    </head>
    <body>
        <div class="wl-header">
            <div class="wl-top">
                <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
                <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>
            </div>
        </div>
        <div class="wl-hcontent">
            <div class="wl-headinfo">
                <div class="wl-logo"></div>
                <ul class="wl-tul">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="index.html#section2">产品介绍</a></li>
                    <li class="wl-active"><a href="help.html">帮助中心</a></li>
                    <li><a href="gywm.html">关于我们</a></li>
                </ul>
            </div>
        </div>
        <!--内容展示-->
        <div class="help_center" style="padding-top:200px;">
            <div class="help_con">
                <div class="head">
                    <h2>帮助中心</h2>
                </div>
                <ul class="sidebar">
                    <li data="id_3">
                        <a href="javascript:void(0)" class="active">帮助</a>
                    </li>
                </ul>
                <div class="show_navItem">
                    <div id="contents" class="this_con">
                        <p>
                            <span style="font-size:15px"><span style="font-family:宋体, simsun;font-size:20px;color:#000000">第一步：从官网下载如下图程序包，并将其解压到非缓存</span><span style="font-family:宋体, simsun;font-size:20px;color:#000000">目录下，如果是在无盘环境中安装服务端</span></span>
                        </p>
                        <p>
                            <span style="font-size:15px"
                                ><span style="font-family:宋体, simsun;font-size:20px"><span style="font-family:宋体, simsun;font-size:20px;color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;请将服务端解压至C盘根目录。</span><br /><br /></span
                            ></span>
                        </p>
                        <p>
                            <span style="font-size:15px"
                                ><span style="font-family:宋体, simsun;font-size:20px"
                                    ><span style="font-family:宋体, simsun;font-size:20px;color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="upload/img/2017/12/2017-12-05-08-05-18-526435.jpg.png" style="float:none;" title="1.png" border="0" hspace="0" vspace="0"/><br /></span
                            ></span>
                        </p>
                        <p>
                            <span style="font-family:宋体, simsun;font-size:20px;color:#000000">第二步：打开文件夹</span><span style="font-family:宋体, simsun;font-size:20px;color:#000000">,</span><span style="font-family:宋体, simsun;font-size:20px;color:#000000">运行服务端文件夹中的</span
                            ><span style="font-family:宋体, simsun;font-size:20px"><span style="font-family:宋体, simsun;font-size:20px;color:#000000">HMStart</span><br /></span><br />
                        </p>
                        <p>
                            <span style="font-family:宋体, simsun;font-size:20px"
                                ><span style="font-family:宋体, simsun;font-size:20px;color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="upload/img/2017/12/2017-12-05-08-05-31-161685.jpg.png" style="float:none;" title="2.png" border="0" hspace="0" vspace="0"/><br
                            /></span>
                        </p>
                        <p>
                            <span style="font-size:20px;color:#000000">第三步：</span><span style="font-family:宋体, simsun;font-size:20px"><span style="font-family:宋体, simsun;font-size:20px;color:#000000">等待程序启动完成后输入注册的帐号密码</span><br /><br /></span>
                        </p>
                        <p>
                            <span style="font-family:宋体, simsun;font-size:20px"
                                ><span style="font-family:宋体, simsun;font-size:20px;color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="upload/img/2017/12/2017-12-05-08-05-42-679706.jpg.png" style="float:none;" title="3.png" border="0" hspace="0" vspace="0"/><br
                            /></span>
                        </p>
                        <p>
                            <span style="font-family:宋体, simsun;font-size:20px"><span style="font-family:宋体, simsun;font-size:20px;color:#000000">第四步：登录后如下图所示即服务端安装成功</span><br /><br /></span>
                        </p>
                        <p>
                            <span style="font-size:15px"
                                ><span style="font-size:16px;font-family:宋体, simsun;color:#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
                                ><img src="upload/img/2017/12/2017-12-05-08-05-54-869627.jpg.png" title="4.png" border="0" hspace="0" vspace="0" style="font-family:宋体, simsun; font-size:20px; white-space:normal; float:none;"
                            /></span>
                        </p>
                        <p><br /></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="fot_oDiv2">
                <div class="fot_content">
                    <div class="fot_oD3">
                        <img class="" src="img/ewm.jpg" />
                        <span>微信公众号</span>
                    </div>

                    <div class="fot_oD2">
                        <div class="oD2_btm">
                            <p>地　　址：重庆市渝北区黄山大道中段49号重科智谷A座502</p>
                        </div>
                    </div>
                    <div class="fot_oD1">
                        <div class="oD1_top">
                            <i></i>
                            <p>周一至周五08：00—凌晨03:00</p>
                            <p>周末/节假日10:00-22:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_oDiv1">
                <div class="fot_content"><p>Copyright © 2015-2016. 重庆通垒科技有限公司 版权所有 渝ICP备19009323号-1</p></div>
            </div>
        </div>
        <script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(function() {
                $(".sidebar a").click(function() {
                    $(".sidebar a").removeClass("active");
                    $(this).addClass("active");
                });
            });
        </script>
    </body>
    <script src="./js/common.js"></script>
</html>
