<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        西西弗书店
    </title>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />
    <script src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    </script>
    <style type="text/css">
        iframe {
            left: initial !important;
            right: 20px !important;
            bottom: 30px !important;
            top: auto !important;
        }

        #owl-demo2 {
            width: 999px;
            margin-left: auto;
            margin-right: auto;
        }

        #owl-demo2 .item {
            display: block;
            margin: 5px;
        }

        #owl-demo2 img {
            display: block;
            width: 320px;
            height: 240px;

        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#owl-demo2').owlCarousel({
                items: 3,
                autoPlay: 3000,
                pagination: false
            });
        });
    </script>
</head>

<body id="home">

    <div class="wl-header">
        <div class="wl-top">
            <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
            <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>
        </div>
    </div>
    <div class="wl-hcontent">
        <div class="wl-headinfo">
            <div class="wl-logo"></div>
            <ul class="wl-tul">
                <li class="wl-active"><a href="index.html">首页</a></li>
                <li><a href="index.html#section2">产品介绍</a></li>
                <li><a href="gywm.html">关于我们</a></li>

            </ul>
        </div>
    </div>
    <div id="dowebok">
        <div class="section section0">
            <div class="top">
                <div id="owl-demo" class="owl-carousel" style="padding-top:140px;">
                    <div class="item" style=" background:url(img/lunbo_03.jpg) center top no-repeat">
                        <div class="down_oDiv down_oDiv1"></div>
                    </div>
                    <div class="item" style=" background:url(img/lunbo_03.jpg) center top no-repeat">
                        <div class="down_oDiv down_oDiv2"></div>
                    </div>
                </div>
                <div class="ms_page">
                    <div class="ms_p">
                        <div id="owl-demo2" class="owl-carousel">
                            <img src="img/page1_01.jpg" />
                            <img src="img/page1_02.jpg" />
                            <img src="img/page1_03.jpg" />
                            <img src="img/page1_04.jpg" />
                            <img src="img/page1_05.jpg" />
                        </div>
                    </div>
                </div>


                <script>
                    $(function () {
                        $('#owl-demo').owlCarousel({
                            items: 1,
                            autoPlay: true

                        });
                    });
                </script>
            </div>
            <div id="section2" class="section section2" >
                <div class="page"  style="padding: 130px 0 50px">
                    <div class="toAnima">
                        <h3 style="padding-top: 0;">不二生活创意空间</h3>
                        <div class="page_con">
                            <p>Booartlife 不二生活”创意空间，空间的名字取义于英文的“book art life”，是指阅读、艺术、创意与生活的结合，四者是同一的，不是拒斥和隔离的，生活中一切皆可阅读、皆有创意，艺术是文化，更是生活。</p>
                            <p>“不二生活”创意空间更接近一个平民的艺术舞台，西西弗希望在书与艺术之间，开发、引进独特的文化创意产品，这是对文化理念、文化生活的延伸，也是西西弗书店区别传统书店的特色之一。这里不仅有各大优质品牌的经典创意产品，还有西西弗自主研发的文化创意产品：笔记本、咖啡杯、书签、手工布袋……形式多种多样，创意层出不穷。读者不仅能接触到各类趣味小物，还能于其中感受一种生活方式和态度，创意无处不在，艺术来源于生活，也终将回归生活。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section5 ">
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con1.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>不二生活时光杯</h4>
                            <p>
                                "不二生活"品牌Logo电镀铜牌雕刻<br />
                                黑款 - 岁月鎏金<br />
                                白款 - 时光如银<br />
                                杯柄、杯口等细节运用手工进行金、银的描画
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con2.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>轮回笔</h4>
                            <p>
                                笔下将定位以笔为核心形态的产品系列,尝试将更多材料与传统文化、地域文化结合，不断创造出更优质的书写感受和产品体验。同时，将材料特性深度挖掘，不断推出设计+材料+文化的优质本土设计师原创产品。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con7.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>不二生活|动物书灯</h4>
                            <p>
                                可爱小动物造型，可360°自由折叠，随时携带无压力。自然光色，照明舒适，不伤眼。充电便携，高能续航。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con4.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>希腊神话帆布袋</h4>
                            <p>不二生活的希腊神话系列打造出三款希腊神话系列刺绣包,分别以雷霆之神·宙斯、丰收女神·德墨忒、众神使者·赫尔墨斯来加以命名。<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con5.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>9本名著浓缩成“章”</h4>
                            <p>
                                书不但有“营养”，也还可以有样子。<br/>
                                如果你欣赏雨过天晴的彩虹,流连繁花酥骨的都会,顿心青山绿水的山林,那你一定会为这组徽章驻足.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con6.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>惜福阅历2020</h4>
                            <p>
                                《惜福阅历2020》是西西弗书店推出的一款创意人文日历，基于传统老黄历的计时方式，加入时光流金、双圆环等设计元素 [1]
                                ，并涵盖丰富的精选文本及互动内容，精选一整年所需要读的366本书，同时罗列了关于人生的366个问题，每日一问一答，帮助读者感知温暖，收获成长 [3] 。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

            <div class="fot_oDiv2">
                <div class="fot_content">
                    <div class="fot_oD3">
                        <img class="" src="img/ewm.jpg" />
                        <span>微信公众号</span>
                    </div>

                    <div class="fot_oD2">
                        <div class="oD2_btm">
                            <p>公司总部地址：重庆市渝中区瑞天路58号西西弗办公楼</p>

                        </div>
                    </div>
                    <div class="fot_oD1">
                        <div class="oD1_top">
                            <!-- <i></i> -->
                            <br>
                            <br>
                            <p>周一至周五08：00—凌晨03:00</p>
                            <p>周末/节假日10:00-22:00</p>
                        </div>
                        <div class="oD1_btm">

                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_oDiv1">
                <div class="fot_content" style="text-align:center">
                    <p><a href="http://beian.miit.gov.cn/">渝ICP备20001350号-1</a></p>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                //alert( window.innerHeight );
                $('.wl-tul li').click(function () {
                    $('.wl-tul li').removeClass('wl-active');
                    $(this).addClass('wl-active');
                })
            })
        </script>
        <script src="js/animate.js" type="text/javascript" charset="utf-8"></script>

        <!-- WPA Button End -->
</body>
<script src="./js/common.js"></script>

</html>