<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        网吧管理软件--锤子大爷网吧智能服务平台
    </title>
    <meta name="keywords"
        content="网吧,软件,红包,锤子大爷,网咖,品牌,吃鸡,H1ZI,网吧活动,网吧营销,活动大师,营销软件,网吧管理,水吧台,英雄联盟活动,绝地大逃杀,租号,借号,领航,营销大师,熊猫管家,顺网,网维大师,易乐游,战吧,绿化大师,steam加速" />
    <meta name="description"
        content="锤子大爷网吧智能服务平台2.0,全新架构,全新概念。锤子大爷网吧智能服务平台是重庆通垒科技有限公司旗下的产品。我们定义自己为网吧智能服务平台开发商，而不是网吧营销软件开发商。公司理念旨在提高整个行业的经营水准,让网吧经营变得更加的简单。在2.0我们采用了一些新技术,极大的提高了数据库的读写速度,让操作变得更加敏捷。同时云平台,吧台端,客户端都是一个全新的设计。功能上亦是耳目一新。同时锤子大爷网吧智能服务平台3.0正在筹划中。我们的脚步永不停歇。keep moving...." />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <link href="css/owl.carousel.css" rel="stylesheet" />
    <link href="css/owl.theme.css" rel="stylesheet" />
    <script src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/layer/layer.js"></script>
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    </script>
    <style type="text/css">
        iframe {
            left: initial !important;
            right: 20px !important;
            bottom: 30px !important;
            top: auto !important;
        }

        #owl-demo2 {
            width: 999px;
            margin-left: auto;
            margin-right: auto;
        }

        #owl-demo2 .item {
            display: block;
            margin: 5px;
        }

        #owl-demo2 img {
            display: block;
            width: 320px;
            height: 240px;

        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#owl-demo2').owlCarousel({
                items: 3,
                autoPlay: 3000,
                pagination: false
            });
        });
    </script>
</head>

<body id="home">

    <div class="wl-header">
        <div class="wl-top">
            <a class="top_oDiv1" id="register" href="javascript:void(0);">注册</a>
            <a class="top_oDiv1" id="login" href="javascript:void(0);">登录</a>
        </div>
    </div>
    <div class="wl-hcontent">
        <div class="wl-headinfo">
            <div class="wl-logo"></div>
            <ul class="wl-tul">
                <li class="wl-active"><a href="index.html">首页</a></li>
                <li><a href="index.html#section2">产品介绍</a></li>
                <li><a href="gywm.html">关于我们</a></li>

            </ul>
        </div>
    </div>
    <div id="dowebok">
        <div class="section section0">
            <div class="top">
                <div id="owl-demo" class="owl-carousel">

                    <div class="item" style=" background:url(img/lunbo_03.jpg) center top no-repeat">
                        <div class="down_oDiv down_oDiv1"></div>
                    </div>
                    <div class="item" style=" background:url(img/lunbo_03.jpg) center top no-repeat">
                        <div class="down_oDiv down_oDiv2"></div>
                    </div>
                </div>
                <div class="ms_page">
                    <div class="ms_p">
                        <div id="owl-demo2" class="owl-carousel">
                            <img src="img/page1_01.jpg" />
                            <img src="img/page1_02.jpg" />
                            <img src="img/page1_03.jpg" />
                            <img src="img/page1_04.jpg" />
                            <img src="img/page1_05.jpg" />
                        </div>
                    </div>
                </div>


                <script>
                    $(function () {
                        $('#owl-demo').owlCarousel({
                            items: 1,
                            autoPlay: true

                        });
                    });
                </script>
            </div>
            <div class="section section2">
                <div id="section2" style=" position:absolute;top:-52px; left:0px; width:100%;z-index:-1; height:40px;">
                </div>
                <div class="page">
                    <div class="toAnima">
                        <h3>锤子大爷网吧智能服务平台，最懂网吧的营销软件，<br />
                            全新升级VIP版本，永久绿色，品质选择。</h3>
                        <div class="page_con">
                            <p>锤子大爷于2015开始，为网吧行业提供免费营销软件，颠覆了行业生态，让网吧多了一个选择空间。<br />
                                但在此过程中，网吧也体验到了免费软件的一些弊端。<br />
                                为此2018年5月，锤子大爷回归用户视角，实现华丽蜕变，打造出绿色无广告的VIP版本。<br />
                                良好的用户体验，纯净的上网环境，保证永久绿色无广告，为用户解决经营痛点为己任，<br />
                                用心为行业开发最好用的营销软件。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section5 ">
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con1.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>功能模块化，行业最精致的软件</h4>
                            <p>全新架构，功能模块化，根据网吧经营管理实际情况，可选择性的安装和<br />
                                卸载各功能模块；极少占用，客户机内存占用不到100兆，长期运行资源<br />
                                占用不升高。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con2.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>常用功能极致化，给你完美体验</h4>
                            <p>网吧公告、网吧留言、网吧员工评价、呼叫网管、网吧点歌、网吧超市、网费<br />
                                充值、云桌面功能，将常用功能做到极致，想你所想，给你所要。<hhf>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con3.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>活动形式多元化，根据需求自主选择</h4>
                            <p>幸运转盘、商品秒杀、在线抽奖、抢红包、绝地求生、英雄联盟、根据网吧用<br />
                                户特点自定义活动，帮助网吧培养顾客粘度，提升人气。<hhf>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con4.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>强大的支付系统</h4>
                            <p>只需一个二维码（支持微信、支付宝、银联支付）便可轻松支付。<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con5.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>游戏活动数据精准读取，<br />活动模式多元化，满足不同用户需求</h4>
                            <p>吃鸡活动多样化，单场活动：绝地鸡王、绝地超神、绝地伏地魔、绝地新兵；<br />
                                连续活动：超级鸡王、绝地战术大师、超级伏地魔、伞兵一号供你选择。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="item-info">
                        <div class="img_warp">
                            <img src="img/section05_con6.jpg">
                        </div>
                        <div class="info_intr">
                            <h4>英雄联盟让老游戏有新玩法</h4>
                            <p>单局游戏三杀、四杀、五杀、超神、连杀，连续活动MVP之星、连胜、<br />
                                连败、坦克爸爸、推塔狂人应有尽有。精准读取游戏数据，准确率<br />
                                达到98%，真人语音播报，提升网吧游戏氛围，增加网吧上座率。 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

            <div class="fot_oDiv2">
                <div class="fot_content">
                    <div class="fot_oD3">
                        <img class="" src="img/ewm.jpg" />
                        <span>微信公众号</span>
                    </div>

                    <div class="fot_oD2">
                        <div class="oD2_btm">
                            <p>地　　址：重庆市渝北区黄山大道中段49号重科智谷A座502</p>

                        </div>
                    </div>
                    <div class="fot_oD1">
                        <div class="oD1_top">
                            <i></i>
                            <p>周一至周五08：00—凌晨03:00</p>
                            <p>周末/节假日10:00-22:00</p>
                        </div>
                        <div class="oD1_btm">

                        </div>
                    </div>
                </div>
            </div>
            <div class="fot_oDiv1">
                <div class="fot_content">
                    <p>Copyright © 2015-2016. 重庆通垒科技有限公司 版权所有 渝ICP备19009323号-1</p>
                </div>
            </div>
        </div>

        <script>
            $(function () {
                //alert( window.innerHeight );
                $('.wl-tul li').click(function () {
                    $('.wl-tul li').removeClass('wl-active');
                    $(this).addClass('wl-active');
                })
            })
        </script>
        <script src="js/animate.js" type="text/javascript" charset="utf-8"></script>

        <!-- WPA Button End -->
</body>
<script src="./js/common.js"></script>
</html>